# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Output of the Go coverage tool
*.out

# Dependency directories
# Uncomment the line below to include the vendor directory
# vendor/

# Go workspace files
go.work
go.work.sum

# Environment files
.env

# Database files
*.db

# IDE-specific files
.vscode